<div class='row' id='welcome'>
  <div class='large-offset-9 small-offset-9'>
    <%= image_tag("WattSunLogo_RED.png", alt:"WattSun Logo", class:"home-logo")%>
  </div>
  <div class='row' id='welcome-text'>
    <div>
      <h1>There are 150,000 solar homes in California</h1>
      <div>
        <h2>(And a new one every 4 minutes)</h2>
      </div>
    </div>
    <div class='large-offset-4 columns'>
      <%= form_tag(wattsun_map_path, method: "get") do %>
      <%= text_field_tag(:address, nil, placeholder: "Enter Address") %>
      <div class='large-offset-2 large-10 columns'>
        <button class='button round alert home-button'>Submit</button>
      </div>
      <% end %>
    </div>
  </div>
</div>