body, html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
  overflow: hidden;
}

#welcome {
  background-image: url('http://i.minus.com/jbrP3iBOmZX7M2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100%;
  min-height: 100%;
}

.home-logo {
  height: 180px;
}

#welcome-text {
  margin-top: 160px;
  padding-top: 75px;
  text-align: center;
  height: 300px;
  background-color: black;
  opacity: .7;
}

#welcome-text h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  margin-top: -35px;
}

#welcome h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  margin-top: -26px;
  margin-bottom: 25px;
}

#address {
  width: 32%;
  margin-top: 5px;
}

.home-button {
  font-family: 'Lato', sans-serif;
  margin-top: 15px;
  // margin-left: auto;
  margin-left: 0;
}
