body {
  width: 100%;
  height: 100%;
}

#welcome {
  background-image: url('Dog Photograph.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px;
}

#welcome-text {
  background-color: black;
  opacity: .7;
}

h1, h2 {
  color: white;
}