$background-color: #86c351;

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.logo {
  min-width: 200%;
  height: inherit;
}

#map-page {
  height: 100%;
  width: 80%;
  background-color: $background-color;
  text-align: center;
  min-height: 800px;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  min-width: 100%;

  #map-text {
    color: white;
    font-family: 'Lato', sans-serif;
    margin: -312px 0px -10px;

    .bignum {
      font-size: 70px;
      font-weight: 1000;
    }
  }

  h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    margin-top: -17px;
    margin-bottom: 30px;
  }

  #map {
    height: 80%;
    min-height: 500px;
    border: 1px solid white;
<<<<<<< HEAD
    margin-bottom: 20px;
=======
    width: 65%
  }

  button {
    margin-top: 20px;
>>>>>>> map styling - need to fix logo still
  }
}

