$background-color: #f5ce31;

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.hidden {
  display: none;
}

#moneybags-page {
  min-height: 1200px;
  height: 100%;
  width: 100%;
  background-color: $background-color;
  z-index: -2;
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  #nav-bar {
    margin-top: -130px;
  }

  .tabs {
    margin: 50px 150px;
    font-size: 20px;

    .button {
      padding: 15px 0px;
      background-color: #b63722;
      border: 0px;

      &:first-child {
        border-right: 1px solid $background-color;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-left: 1px solid $background-color;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &:hover {
        background-color: #8B0000;
      }
    }
  }

  #white-sun {
    height: 130px;
    margin-top: 25px;
    margin-left: 90px;
    z-index: -1;
  }

  .tab-one {

    .dino {
      height: 100px;
      position: relative;
      left: 200px;
    }

    .sun {
      height: 120px;
      position: relative;
      top: -10px;
      left: -100px;
    }

    .left-arrow {
      height: 250px;
      position: relative;
      top: 35px;
      left: 199px;
      z-index: 0;
    }

    .right-arrow {
      height: 250px;
      position: relative;
      top: -137px;
      left: 505px;
      z-index: 0;
    }

    .info {
      background-color: white;
      height: 175px;
      width: 150px;
      border-radius: 10px;
    }

    .left-info {
      position: relative;
      z-index: 1;
      top: 60px;
      left: 175px;
    }

    .right-info {
      position: relative;
      z-index: 1;
      left: 686px;
      top: -113px;
    }

    .left-home {
      height: 90px;
      position: relative;
      top: -147px;
      left: 206px;
    }

    .right-home {
      height: 90px;
      position: relative;
      top: -141px;
      left: -72px;
    }
  }
}
